.carousel-container {
    overflow: hidden; 
    border-radius: 10px; 
    height: 400px; 
    width: 100%; 
    height: 100%;
    max-width: 1300px;
    min-width: none;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px; 
    box-sizing: border-box;
}

.carousel-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50%;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 0.8rem;
}
  
.carousel-link a {
    display: inline-block;
    font-size: 1.5rem; 
    text-decoration: none; 
    color: white; 
    padding: 10px 20px; 
    background-color: #22333b; 
    border-radius: 10px; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.2s;
}

.carousel-link a:hover {
    text-decoration: underline;
    color: #0a0908;
    background-color: #2a4b57;
    transform: scale(1.05);
}

.blog-link {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: #FAF9F6;
}

.blog-link a {
    font-size: 24px;
    text-decoration: none; 
    color: gray;
    font-weight: bold;
    transition: color 0.3s;
}


.blog-link a:hover {
    color: black;
}

.home-page {
    background-color: #FAF9F6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}
/* 
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #FAF9F6; 
} */